@import 'tailwindcss';

body {
  margin: 0;
  color: #593e8b;
  font-family: Quicksand, OpenSauce, sans-serif;
  background-image: linear-gradient(to bottom, #ffbd59, #ffe8c6 );
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  color: #593e8b;
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  color: #5d4777;
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}
